@*
@{
    ViewData["BundleUrl"] = HttpContext.Current.IsDebuggingEnabled ? "//localhost:8080/wwwroot" : "/wwwroot";
	BundleResponse criticalCssBundle = Optimizer.BuildBundle("~/dist/criticalCss.css", new OptimizationSettings() {
		ApplicationPath = HttpContext.Current.Server.MapPath("~/"),
		BundleTable = new BundleCollection() { { new StyleBundle("~/wwwroot/criticalCssBundle.css").Include("~/wwwroot/criticalCssBundle.css") } }
	});
}
*@

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DotNetCoreWebpack</title>

    <environment names="Development">
        <script src="http://localhost:8080/webpack-dev-server.js"></script>
        @*
        TODO Include commons bundle
        <script src="//localhost:8080/wwwroot/commons.bundle.js"></script>        
        *@

        @*Need this tag to include css*@
        <script src="//localhost:8080/wwwroot/criticalCss.bundle.js"></script>
    </environment>

    <environment names="Staging,Production">

        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only"
              asp-fallback-test-property="position"
              asp-fallback-test-value="absolute" />

        <link rel="stylesheet"
            href="~/css/index.css"
            asp-append-version="true" />

        @*
            //TODO
            <style>@criticalCss.Content</style>        
            @if (HttpContext.Current.IsDebuggingEnabled)
            {
                <script src="http://localhost:8080/webpack-dev-server.js"></script>
                <script src="@ViewBag.BundleUrl/commons.bundle.js"></script>
                <script src="@ViewBag.BundleUrl/criticalCssBundle.bundle.js"></script>
            }
            else
            {
                <script src="@ViewBag.BundleUrl/commons.bundle.js"></script>
            }        
        *@

    </environment>

    @RenderSection("styles", required: false)

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">DotNetCoreWebpack</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
                </ul>
                @await Html.PartialAsync("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2017 - DotNetCoreWebpack</p>
        </footer>
    </div>

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.3.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("scripts", required: false)
</body>
</html>
