@using Newtonsoft.Json;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DotNetCoreWebpack</title>

    <environment names="Development">
        <script src="http://localhost:8080/webpack-dev-server.js"></script>

        @*Need this tag to include critical css*@
        <script src="//localhost:8080/wwwroot/criticalCss.bundle.js"></script>

        @*
        TODO Include commons bundle
        <script src="//localhost:8080/wwwroot/commons.bundle.js"></script>        
        *@
    </environment>

    <environment names="Staging,Production">

        @*
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only"
              asp-fallback-test-property="position"
              asp-fallback-test-value="absolute" />
        *@

        <style>@BundlerMinifier.FileHelpers.ReadAllText("wwwroot/criticalCss.css")</style>

    </environment>

    @RenderSection("styles", required: false)

</head>
<body>

    <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">

        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <a id="navbar-logo" class="navbar-brand" href="javascript:void(0)">
            DotNetCoreWebpack
        </a>

        @*TODO @await Html.PartialAsync("_LoginPartial")*@
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                @{
                    var menuItems = new []{ "Home", "About", "Contact" };
                    for (int i = 0; i < menuItems.Length; i++)
                    {
                        var isActive = @menuItems[i] == ViewData["Title"] || ViewData["Title"] == "Home Page" && @menuItems[i] == "Home";
                        var activeClassName = isActive == true ? "active" : null;
                        var action = @menuItems[i];
                        if (@menuItems[i] == "Home") {
                            action = "";
                        }
                        <li class="nav-item @activeClassName">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="@action">
                                @menuItems[i]
                                @if(isActive) {
                                    <span class="sr-only">(current)</span>
                                }
                            </a>
                        </li>
                    }
                }

                @*TODO If active, add & active .sr-only*@
                @*
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="javascript:void(0)" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
                *@

                @*TODO Replace with Sign In / Sign Up?*@
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Login">Log in</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
                </li>                                
            </ul>
            @*
            Remove search form due to critical css
            <form class="form-inline my-2 my-md-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search">
                <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
            </form>
            *@
        </div>

    </nav>

    <main>

        <hr />

        <code>
            @* blue & yellow and it is goood to add "white": #f7ff45 *@
            <pre style="font-size: 70%;background-color: #0908a4;color: #feff6c;"><span style="color: #ffffff;">ViewData:</span>@JsonConvert.SerializeObject(ViewData, Formatting.Indented)</pre>
        </code>

        <hr />

        @RenderBody()
    </main>

    <footer>
        <div class="container-fluid">
            <div class="row">
                <div class="col col-12">
                    <div class="footer-content">
                        &copy; 2017 - DotNetCoreWebpack
                    </div>
                </div>
            </div>
        </div>
    </footer>

    @*
    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.3.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>
    *@

    @RenderSection("scripts", required: false)
</body>
</html>
